


/***********************
  ROUND BUTTONS
************************/
.round {
  border-radius: 34px;
  height: 70px;
}


.email_link{

  color: white;
}
.email_link:hover{

  color: #00c0d1;
}
/***********************
  CUSTON BTN VALUES
************************/

input[type="text"]
{
    font-size:16px;
    color: #00c0d1;
    font-weight: 20;
    font-size-adjust: auto;
}


.jumbotron {
	background: url('cover.png');
	background-size: cover;
}

.container2 a{

  background-color: #ffae19;
  height: 38px;

  font-weight: 300px;


padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 30px;

}

.btn-primary {
    background: #ffae19;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #00c0d1;

}
.navbar-fixed-top {
  margin-right: 0px;
  margin-top: 0px;

}


.form-text{

  color: #ffae19;

}
.year{

  color: #ff7f7f;

}
.navbar-brand{

  margin-right: 0px;
  margin-top: 0px;

}

.spacesside{

  margin-righ: 0px;
   margin-top: 0px

}

.divider{
    width:15px;
    height:auto;
    display:inline-block;
}
.apple{

  text-decoration-color: #ffae19;


}
